source https://www.nuget.org/api/v2
nuget FAKE ~> 4
nuget FakeXrmEasy.9
nuget Microsoft.CrmSdk.CoreAssemblies
nuget OpenCover
nuget ReportGenerator
nuget Xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio